<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css')}}">
    <link href="https://fonts.cdnfonts.com/css/the-amsterdam" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sevillana&display=swap" rel="stylesheet">
    <title>Kheti.Ai</title>
</head>
<body>
    <script src="{{ url_for('static', filename='script1.js')}}"></script>
    <header>
        <div class="logo">
            <a href="#" id="logo-name">Kheti.Ai</a>
        </div> 
        <nav>
            <ul>
                {% for key, value in navbarItems.items() %}
                <li><a href="{{value.url}}">{{key}}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>

    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-content">
            <h1>AI-Driven Crop Protector</h1>
            <p>Maximize your harvest with our state-of-the-art crop disease detection software. By identifying potential threats early, you can take swift action to protect your crops and ensure a healthier, more bountiful yield. Our technology empowers you to minimize risks and make data-driven decisions, so you can focus on growing your farm's success. Invest in precision, and watch your harvest thrive.</p>
            <span id="extra-content" style="display: none;">
Our software leverages cutting-edge AI algorithms to continuously monitor and accurately detect a wide range of crop diseases. With real-time notifications and actionable insights, it enables you to promptly address any issues, minimizing crop loss and optimizing the use of resources. This proactive approach ensures healthier crops, higher yields, and more efficient farming practices, allowing you to stay ahead of potential threats and make informed decisions with confidence.
              </span>
            </p>
            <button class="explore-button" onclick="toggleReadMore()">Read more</button>
        </div>
    </section>



<!-- upload Section-->

<section class="upload-section">
    <div class="upload-container">
        <h3>Upload and Attach Files</h3>
        <p>Upload and attach files to this project.</p>
        <div class="upload-box">
            <img src="{{url_for('static', filename='img/icon/Black/cloud-computing.png')}}" alt="cloud logo">
            <form method="POST" action="/landing" enctype="multipart/form-data">
                <input type="file" id="file-upload" name="image_file">
                <label for="file-upload">Click to upload </label>
                <div class="upload-info">
                    <span>Maximum file size 50 MB.</span>
                </div>
                <button type="submit" class="attach-button">Upload</button>
            </form>
            <div class="buttons">
               
            </div>
        </div>
       
    </div>
</section>

<!-- footer Section-->

    <footer>
        <div class="footer-container">
            <div class="footer-section logo">
                <img src="{{url_for('static', filename='img/logo/3.png')}}" alt="Logo" id="footer-logo">
                
            </div>
            <div class="footer-section organization">
                <h4>Organization</h4>
                <ul>
                    {% for key,value  in footerOrganizationItems.items() %}
                    <li><a href={{value.url}}>{{key}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="footer-section resources">
                <h4>Resources</h4>
                <ul>
                    {% for key,value  in footerResourcesItems.items() %}
                    <li><a href={{value.url}}>{{key}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="footer-section legal">
                <h4>Legal</h4>
                <ul>
                    {% for key,value  in footerLegalItems.items() %}
                    <li><a href={{value.url}}>{{key}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="footer-section contact">
                <h4>Contact us</h4>
                <ul>
                    {% for key,value in footerContactUsItems.items() %}
                    <li><a href={{value.url}}>{{key}}</a></li>
                    {% endfor %}
                </ul>
                <div class="social-icons">
                    <a href="https://www.facebook.com/"><img src="{{url_for('static', filename='img/icon/Black/facebook-icon.png')}}" alt="Facebook"></a>
                    <a href="https://www.instagram.com/accounts/login/"><img src="{{url_for('static', filename='img/icon/Black/instagram-icon.png')}}" alt="Instagram"></a>
                    <a href="https://web.telegram.org/a/"><img src="{{url_for('static', filename='img/icon/Black/telegram-icon.png')}}" alt="Telegram"></a>
                    <a href="https://x.com/login?mx=2"><img src="{{url_for('static', filename='img/icon/Black/twitter-icon.png')}}" alt="Twitter"></a>
                    <a href="https://web.whatsapp.com/"><img src="{{url_for('static', filename='img/icon/Black/whatsapp-icon.png')}}" alt="Whatsapp"></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2014-2024 Kheti.Ai™</p>
        </div>
    </footer>
    
</body>
</html>
