<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style3.css')}}">
    <title>Plant Identification</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="#">
                <img src="{{url_for('static', filename='img/img2.png')}}" alt="Company Logo" id="logo"> 
                <span id="logo-name">AGRI FORM</span>
            </a>
        </div>
        <nav>
            <ul>
                {% for item in navbarItems %}
                <li><a href={{item.url}}>{{item}}</a></li>
                {% endfor %}
            </ul>gi
        </nav>
    </header>

    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-content">
            <h1>AGRI FORM</h1>
            <p>Description</p>
            <button class="explore-button">Read more</button>
        </div>
    </section>
   
    <footer>
        <div class="footer-container">
            <div class="footer-section logo">
                <img src="{{url_for('static', filename='img/img2.png')}}" alt="Logo" id="footer-logo">
                
            </div>
            <div class="footer-section organization">
                <h4>Organization</h4>
                <ul>
                    {% for item in footerOrganizationItems %}
                    <li><a href={{item.url}}>{{item}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="footer-section resources">
                <h4>Resources</h4>
                <ul>
                    {% for item in footerResourcesItems %}
                    <li><a href={{item.url}}>{{item}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="footer-section legal">
                <h4>Legal</h4>
                <ul>
                    {% for item in footerLegalItems %}
                    <li><a href={{item.url}}>{{item}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="footer-section contact">
                <h4>Contact us</h4>
                <ul>
                    {% for item in footerContactUsItems %}
                    <li><a href={{item.url}}>{{item}}</a></li>
                    {% endfor %}
                </ul>
                <div class="social-icons">
                    <a href="https://www.facebook.com/"><img src="{{url_for('static', filename='img/icon/Black/facebook-icon.png')}}" alt="Facebook"></a>
                    <a href="https://www.instagram.com/accounts/login/"><img src="{{url_for('static', filename='img/icon/Black/instagram-icon.png')}}" alt="Instagram"></a>
                    <a href="https://web.telegram.org/a/"><img src="{{url_for('static', filename='img/icon/Black/telegram-icon.png')}}" alt="Telegram"></a>
                    <a href="https://x.com/login?mx=2"><img src="{{url_for('static', filename='img/icon/Black/twitter-icon.png')}}" alt="Twitter"></a>
                    <a href="https://web.whatsapp.com/"><img src="{{url_for('static', filename='img/icon/Black/whatsapp-icon.png')}}" alt="Whatsapp"></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2014-2024 AGRIFORM™</p>
        </div>
    </footer>
    
</body>
</html>
