body {
    margin: 0;
    padding: 0;
    background-color: cornsilk;
    font-family: Arial, sans-serif;
}

header {
    background-color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    /* top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; */
}

#logo-container {
    display: flex;
    align-items: center;
}

#home-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#logo {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

#logo-name {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    background-color: black;
    padding: 10px 40px;
    border-radius: 50px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: lightgray;
}
.hero {
    background-image: url('https://source.unsplash.com/1600x900/?plant');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #FFA500;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
}

.features {
    padding: 50px 20px;
    text-align: center;
}

.features h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.feature-box {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
