body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #193330;
}

/* header and Nav */

header {
    background-color: #193330;
    display: flex;
    align-items: center;
    padding: 10px 0;
    position: relative;
    justify-content: flex-start;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#logo {
    width: 55px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

#logo-name {
    font-family: 'The Amsterdam', sans-serif;
    margin-left: 10px;
    font-size: 34px;
    /* font-weight: bold; */
    color: #c1d72e;
    text-decoration: none;
}
#logo-name:hover{
    color: #fff;
}
a {text-decoration: none; }

nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 10px;
    width: 100%;
    z-index: 5;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 6px 35px;
    display: inline-flex;
    gap: 40px;
    background-color: #0a1413;
    border-radius: 50px;
    height: 60px;
    align-items: center;
    /* box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: #475c59 0px 1px 1px, #475c59 0px 0px 1px 1px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: lightgray;
}

.team-section {
    text-align: center;
    padding: 20px 0;
}
.team-section h2 {
    font-size: 100px;
    margin-bottom: 50px;
    color: #e8ece2;
    font-family: "Italianno", cursive;
    font-weight: 400;
  font-style: normal;
}
.team-members {
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns:  10% 10% 10%;;
    justify-content: center;
    gap: 200px;
}
.team-member {
    /* background-color: white; */
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
    transition: transform 0.3s ease;
}
.team-member:hover {
    transform: translateY(-10px);
}
.team-member img {
    width: 100%;
    /* border-bottom: 5px solid #f4f4f4; */
    border-radius: 50%; /* Makes the image round */
    margin-top: 20px; /* Adds some space at the top */
}
.team-member h3 {
    font-size: 24px;
    margin: 20px 0 5px;
    color: #e8ece2;
}
.team-member p.title {
    color: #d9f3ab;
    font-size: 16px;
    margin-bottom: 10px;
    
}
.team-member p.description {
    font-size: 14px;
    color: #666;
    padding: 0 20px;
    margin-bottom: 20px;
    color: #ffffff;

}
.team-member .social-links {
    margin-bottom: 20px;
}
.team-member .social-links a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}
.social-links img {
    width: 24px; /* Adjust size as necessary */
    height: 24px;
    /* filter: invert(100%); This ensures the icon colors match the footer theme */
}
/* .team-member .social-links a:hover {
    background-color: black;
} */

/* footer style section */
/* footer is there in home.css  */